@font-face {
  font-family: Beleren;
  src: url(./assets/font/Beleren2016-Bold.ttf);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: beige;
  color: #000;
  font-size: 1rem;
  font-family: Beleren, sans-serif;
}

/* Page Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 25%;
  font-size: 1.25rem;
  background-color: rgb(189, 189, 170);

  position: sticky;
  top: 0;

  z-index: 100;
}
.header a {
  text-decoration: none;
  color: #000;
}
.header a:hover {
  text-decoration: underline;
}
.header .active-page {
  text-decoration: underline;
  cursor: default;
}

main {
  margin: 0 25%;
}

/* Item */
.item {
  margin: 1rem 0;
}
.item-heading {
  display: flex;
  justify-content: space-between;
}

/* Toggle Content */
.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
}
.arrow {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
  transition: transform 0.2s ease;
}
.toggle-btn.open .arrow {
  transform: rotate(-135deg);
}

/* Item Content */
.item-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.2s ease, opacity 0.2s ease;
  font-size: 15px;
}
.item.open .item-content {
  max-height: 500px;
  opacity: 1;
}
.item-content ul {
  margin: 0;
  padding-left: 2rem;
  font-family: Arial, sans-serif;
}
.item-content p {
  margin: 0;
  padding-left: 2rem;
  font-family: Arial, sans-serif;
}

.search-wrapper {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  position: sticky;
  top: 57px;
  padding: 2rem 0 2rem;
  background: beige;
  z-index: 100;
}

.search-wrapper input {
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #000;
}

.search-wrapper button {
  border: none;
  border-radius: 1rem;
  color: beige;
  background-color: #000;
  cursor: pointer;
  font-size: 1rem;
  width: 22px;
}

.no-results {
  margin: 1rem 0;
}

.content-container {
  margin: 2rem 0;
}

.symbols-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  margin: 2rem 0;
}

.symbol {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.symbol img {
  width: 50%;
  height: 50%;

  max-width: 250px;
  max-height: 250px;
}

.symbol p {
  margin: 2rem 0;
  max-width: 350px;
}

@media only screen and (max-width: 1000px) {
  .header {
    padding: 1rem 5%;
  }
  main {
    margin: 0 5%;
  }
  .search-wrapper {
    padding: 1rem 0 1rem;
  }

  .content-container {
    margin: 1rem 0;
  }

  .symbols-container {
    margin: 1rem 0;
  }
}
