@font-face {
  font-family: Beleren;
  src: url(./assets/font/Beleren2016-Bold.ttf);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: beige;
  color: #000;
  font-size: 1rem;
  font-family: Beleren, sans-serif;
  margin: 0 25%;
}

/* Page Header */
.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  font-size: 1.25rem;
}
.header a {
  text-decoration: none;
  color: #000;
}
.header .active-page {
  text-decoration: underline;
}

/* Item */
.item {
  margin: 1rem 0;
}
.item-heading {
  display: flex;
  justify-content: space-between;
}

/* Toggle Content */
.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
}
.arrow {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
  transition: transform 0.2s ease;
}
.toggle-btn.open .arrow {
  transform: rotate(-135deg);
}

/* Item Content */
.item-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.2s ease, opacity 0.2s ease;
  font-size: 15px;
}
.item.open .item-content {
  max-height: 500px;
  opacity: 1;
}
.item-content ul {
  margin: 0;
  padding-left: 2rem;
  font-family: sans-serif;
}
.item-content p {
  margin: 0;
  padding-left: 2rem;
  font-family: sans-serif;
}
